.pending-users {


  .table {
    background-color: white;
  }

  h5 {
    margin: 20px 0px 10px 0px;
  }

  .btn-outline-primary{
    margin: 20px 0px 15px 0px;
  }

  .green{
    color:green;
  }

  .red{
    color: red;
  }
}
