<div class="page">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md text-center">
        <h2>Send a Broadcast Email to All Application Users</h2>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card shadow-sm border-0">
          <div class="card-header bg-transparent text-center">
            <h5>Broadcast Message</h5>
          </div>
          <form #f="ngForm" novalidate (ngSubmit)="sendBroadcastEmail(f)">
            <div class="form-group text-center">

              <h6>Subject</h6>
              <input type="text" name="Subject" aria-label="With textarea" class="form-control text-center" required tmFocus ngModel #Subject="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Subject.invalid }" maxlength="20">
              <div *ngIf="f.submitted && Subject.invalid" class="invalid-feedback">
                <div *ngIf="Subject.errors.required">Subject line is required to be submitted with the request</div>
              </div>

              <h6>Message</h6>
              <input type="text" name="Message" aria-label="With textarea" class="form-control text-center" required ngModel #Message="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Message.invalid }" maxlength="150">
              <div *ngIf="f.submitted && Message.invalid" class="invalid-feedback">
                <div *ngIf="Message.errors.required">Message is required to be submitted with the request</div>
              </div>

              <div *ngIf="errorsBool" class="invalid-feedback">The message cannot be empty of have only spaces</div>
            </div>
            <div class="inline">
              <button type="submit" class="btn btn-primary" [disabled]="isBusy">Submit</button>
            </div>
          </form>
        </div>
      </div>

      <div *ngIf="messageBack" class="alert alert-success text-center" role="alert">
        <strong>The email(s) has(ve) been sent!</strong>
      </div>

    </div>

  </div>
</div>
